/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(20, 20, 20);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondopagina.jpg");
   
}
.titulo{

    font-size: 50px;
    text-align: center;
    color: rgb(164, 190, 255);
}

.imagen1{

    height: 193px;
    width: 330px;
    background-image: url(circuito.jpeg);
    background-repeat: no-repeat;
    float: left;
}

.imagen2{

    height: 300px;
    width: 600px;
    background-image: url(sumapolinomio.jpg);
    float: left;
}

.imagen3{

    height: 300px;
    width: 600px;
    background-image: url(restapolinomio.jpeg);
    float: right;
    background-repeat: no-repeat;
    
}

.imagen4{

    height: 300px;
    width: 600px;
    background-image: url(multiplicacionpolinomio.jpeg);
    float: left;
    background-repeat: repeat-x;
    
    
}

.imagen5{

    height: 336px;
    width: 600px;
    background-image: url(divisionpolinomio.jpeg);
    float: right;
    background-repeat: repeat-x;
   
}

.imagen6{

    height: 336px;
    width: 600px;
    background-image: url(binomioalcuadrado.jpeg);
    float: left;
    background-repeat: repeat-x

}

.imagen7{

    height: 336px;
    width: 600px;
    background-image: url(diferenciadecuadrados.jpeg);
    float: right;
    background-repeat: repeat-x
}

.imagen8{

    height: 336px;
    width: 600px;
    background-image: url(cubodeunbinomio.jpeg);
    float: left;
    background-repeat: repeat-x

}

.imagen9{

    height: 336px;
    width: 600px;
    background-image: url(sumaoresta.jpeg);
    float: right;
    background-repeat: repeat-x
}

.imagen10{

    height: 700px;
    width: 1000px;
    background-image: url(mapamental.jpg);
    background-repeat: no-repeat
}