/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(20, 20, 20);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondopagina.jpg");
   
}
.titulo{

    font-size: 50px;
    text-align: center;
    color: rgb(82, 126, 238);
}

.imagen1{

    height: 300px;
    width: 600px;
    background-image: url(circuito.jpg);
    background-repeat: no-repeat;
    float: left;
}

.imagen2{

    height: 300px;
    width: 600px;
    background-image: url(sumapolinomio.jpg);
    float: left;
}

.imagen3{

    height: 300px;
    width: 600px;
    background-image: url(restapolinomio.jpeg);
    float: right;
    background-repeat: no-repeat;
    
}

.imagen4{

    height: 300px;
    width: 600px;
    background-image: url(multiplicacionpolinomio.jpg);
    float: left;
    background-repeat: repeat-x;
    
    
}

.imagen5{

    height: 336px;
    width: 600px;
    background-image: url(divisionpolinomio.jpg);
    float: right;
    background-repeat: repeat-x;
   
}

.imagen6{

    height: 336px;
    width: 600px;
    background-image: url(binomioalcuadrado.jpg);
    float: left;
    background-repeat: repeat-x

}

.imagen7{

    height: 336px;
    width: 600px;
    background-image: url(diferenciadecuadrados.jpg);
    float: right;
    background-repeat: repeat-x
}

.imagen8{

    height: 336px;
    width: 600px;
    background-image: url(cubodeunbinomio.jpg);
    float: left;
    background-repeat: repeat-x

}

.imagen9{

    height: 336px;
    width: 600px;
    background-image: url(sumaoresta.jpg);
    float: right;
    background-repeat: repeat-x
}

.imagen10{

    height: 700px;
    width: 1000px;
    background-image: url(mapamental.jpg);
    background-repeat: no-repeat
}

.imagen11{

    height: 445px;
    width: 600px;
    background-image: url(sistemareproductor.jpeg);
    float: right;
    background-repeat:no-repeat
}

.imagen12{

    height: 300px;
    width: 600px;
    background-image: url(fasefolicular.jpeg);
    float: left;
    background-repeat:no-repeat
}

.imagen13{

    height: 385px;
    width: 600px;
    background-image: url(ovulacion.jpeg);
    float: right;
    background-repeat:no-repeat
}

.imagen14{

    height: 315px;
    width: 665px;
    background-image: url(faselutea.jpeg);
    float: left;
    background-repeat:no-repeat
}

.imagen15{

    height: 300px;
    width: 300px;
    background-image: url(isabella.jpg);
    float: left;
    background-repeat:no-repeat
}

.imagen16{

    height: 300px;
    width: 300px;
    background-image: url(kaily.jpg);
    float: left;
    background-repeat:no-repeat
}

.imagen17{

    height: 454px;
    width: 500px;
    background-image: url(distribucionelectronica.jpeg);
    float: left;
    background-repeat:no-repeat
}

.imagen18{

    height: 435px;
    width: 507px;
    background-image: url(regladepauli.jpeg);
    float:right;
    background-repeat:no-repeat
}

.imagen19{

    height: 300px;
    width: 300px;
    background-image: url(julieta.jpg);
    float:left;
    background-repeat:no-repeat
}

.imagen20{

    height: 300px;
    width: 600px;
    background-image: url(circuitoabierto.jpg);
    background-repeat:no-repeat
}

.imagen21{

    height: 300px;
    width: 600px;
    background-image: url(circuitocerrado.jpg);
    background-repeat:no-repeat
}

.imagen22{

    height: 300px;
    width: 600px;
    background-image: url(circuitoserie.jpg);
    background-repeat:no-repeat
}

.imagen23{

    height: 300px;
    width: 600px;
    background-image: url(circuitoparalelo.jpg);
    background-repeat:no-repeat
}

.img1{

    height: 300px;
    width: 600px;
    background-image:url(exel\ \(1\).jpg) ;
    background-repeat: no-repeat;
}

.img2{

    height: 550px;
    width: 600px;
    background-image: url(logo.jpg);
    background-repeat: no-repeat;
    float: left;
}

.img3{

    height: 335px;
    width: 600px;
    background-image: url(producto-notable\ \(1\).jpg);
    background-repeat: no-repeat;
    float: left;
}

.img4{

    height: 335px;
    width: 600px;
    background-image: url(diferenciacuadrados2.jpg);
    background-repeat: no-repeat;
    float: right;
}

.img5{

    height: 305px;
    width: 600px;
    background-image: url(amasb.jpg);
    background-repeat: no-repeat;
    float: left;
}

.img6{

    height: 305px;
    width: 600px;
    background-image: url(cuadrado-de-la-suma-imagen-\ \(1\).jpg);
    background-repeat: no-repeat;
    

}

.img7{

    height: 305px;
    width: 600px;
    background-image: url(restanose\ \(1\).jpg);
    background-repeat: no-repeat;
    
    

}

.img8{

    height: 345px;
    width: 600px;
    background-image: url(cubosuma.jpg);
    background-repeat: no-repeat;
    float: left;
    
    
}

.img9{

    height: 345px;
    width: 600px;
    background-image: url(Factorizacion\ \(1\).jpg);
    background-repeat: no-repeat;
    float: right;
    
}

.img10{

    height: 345px;
    width: 600px;
    background-image: url(facporfac.jpg);
    background-repeat: no-repeat;
    float: left;
    
}

.img11{

    height: 345px;
    width: 600px;
    background-image: url(facporagrupacion.jpg);
    background-repeat: no-repeat;
    float: right;
    
}

.img12{

    height: 345px;
    width: 600px;
    background-image: url(diferenciadecuadrados3per.jpg);
    background-repeat: no-repeat;
    float: left;
    
}