/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(20, 20, 20);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("imagen\ pagina\ web.jpg");
   
}
.titulo{

    font-size: 50px;
    text-align: center;
    color: rgb(255, 178, 245);
}

.imagen1{

    height: 193px;
    width: 330px;
    background-image: url(circuito.jpeg);
    background-repeat: no-repeat;
    float: left;
}

.imagen2{

    height: 300px;
    width: 600px;
    background-image: url(sumapolinomio.jpg);
    float: left;
}

.imagen3{

    height: 300px;
    width: 600px;
    background-image: url(restapolinomio.jpeg);
    float: right;
    background-repeat: no-repeat;
    
}

.imagen4{

    height: 300px;
    width: 600px;
    background-image: url(multiplicacion.jpeg);
    float: left;
    background-repeat: no-repeat;
    
}

.imagen5{

    height: 300px;
    width: 600px;
    background-image: url(divisonpolinomio.jpeg);
    float: right;
    background-repeat: no-repeat;
}