.contenedor{
    width: 100%;
    height: 1200px;
    background-color: rgb(253, 187, 255);
    display: flex
    flex-direction:table-col

    
    

   

.encabezado{

    width: 100%;
    height: 200px;
    background-color: rgb(196, 119, 248);
}
.sociales 
    